.contentBox {
    margin: 30px 50px 0px 50px;
    padding: 20px;
}

.contentImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews {
    width: 100%;
    height: 80vh;
}

.restaurantContent {
    background: rgb(255, 255, 255);
    padding: 20px;
}

.restaurantBox {
    background-color:rgb(255, 244, 223);
}

.cherry {
    width: 100px;
    height: 100px;
}